<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379514122245-oqug53atitcda40otht486haipaqi8to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379514122245-oqug53atitcda40otht486haipaqi8to</string>
	<key>API_KEY</key>
	<string>AIzaSyCuNM_-ZaYY20FzzrFT2iwArnd1RwRkw40</string>
	<key>GCM_SENDER_ID</key>
	<string>379514122245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.easyhoppers.easyhoppers</string>
	<key>PROJECT_ID</key>
	<string>ehapp-7b393</string>
	<key>STORAGE_BUCKET</key>
	<string>ehapp-7b393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379514122245:ios:0a82bc35c7e7894f3aec6c</string>
	<key>DATABASE_URL</key>
	<string>https://ehapp-7b393.firebaseio.com</string>
</dict>
</plist>